@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.unselectable {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

.unselectable:focus {
  cursor: default;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: black;
}

#background {
  background-image: url("/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1.2);
  transition: background-position 0.1s ease-out;
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.button-3d {
  width: min(30vh, 20vw);
  height: min(30vh, 20vw);
  margin-left: 5vw;
  margin-right: 5vw;
}

.object-3d {
  width: 20vw;
  height: 20vw;
  margin-top: 10px;
  margin-bottom: 10px;
}

.input {
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
  width: 300px;
  margin: 20px;
  transition: 0.7s ease-in-out;
}

.researchDiv {
  margin-top: 15vh;
  transition: 0.7s ease-in-out;
}

.researchDiv:focus-within {
  margin-top: -20vh;
  transition: 0.7s ease-in-out;
}

.researchDiv:focus-within h1,
.researchDiv:focus-within img,
.researchDiv:focus-within h2 {
  opacity: 0%;
  transition: 0.7s ease-in-out;
}

.researchDiv h1,
.researchDiv img,
.researchDiv h2 {
  opacity: 80%;
  transition: 0.7s ease-in-out;
}

.input:focus {
  color: black;
  background-color: white;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #ffae1a, -13px -13px 100px #ffffff;
  width: 70vw;
  margin-top: 20px;
  transition: 0.7s ease-in-out;
}

.glassBackground {
  background: rgba(255, 255, 255, 0.07);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.04);
  backdrop-filter: blur(18.2px);
  -webkit-backdrop-filter: blur(18.2px);
}

.title {
  text-align: center;
  /* margin-top: 10vh; */
  opacity: 0.6;
  @apply text-8xl unselectable font-bold;
}

.btn {
  padding: 0.5em 0.5em;
  background: none;
  border: 2px solid #fff;
  font-size: 15px;
  color: #131313;
  height: 100%;
  width: 100%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  border-radius: 12px;
  background-color: rgb(0, 0, 0);
  font-weight: bolder;
  /* box-shadow: 0 2px 0 2px #000; */
}

.sectionTitle {
  @apply font-bold opacity-60 unselectable text-4xl;
}

.subSectionTitle {
  @apply font-bold opacity-60 unselectable text-2xl mt-2;
}

.sectionDescription {
  @apply text-justify;
}

hr.rounded {
  border-top: 2px solid #bbbbbb2e;
  border-radius: 40px;
  @apply my-1;
}

.btn:hover {
  box-shadow: 5px 5px 150px #00419b, -5px -5px 150px #ffffff;
}

.active {
  transform: scale(0.9);
  border-color: #00419b;
  box-shadow: 5px 5px 80px #00419b, -5px -5px 80px #ffffff;
}

.filter-out {
  margin-top: 100vh;
  animation-duration: 0.7s;
  animation-name: filterOut;
  animation-timing-function: ease-in-out;
}

.filter-in {
  margin-top: 40px;
  animation-duration: 0.7s;
  animation-name: filterIn;
  animation-timing-function: ease-in-out;
}

@keyframes filterIn {
  from {
    margin-top: 100vh;
  }

  to {
    margin-top: 40px;
  }
}

@keyframes filterOut {
  from {
    margin-top: 40px;
  }

  to {
    margin-top: 100vh;
  }
}
